@page { 
    size:210mm 297mm; 
    margin: 0;
} 

* {box-sizing: border-box !important;}

.mainHeader, .btFooterWrap, .btSidebar, .btSearchInner, .btAltLogo,
.btBtn, .btIco {
	display: none !important;
}